spring:

  # -------------------------------------------------
  # SECURITY CONFIG CUSTOM
  # -------------------------------------------------
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://identity.io/realms/edc
    user:
      name: admin
      password: admin

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console


server:
  port: 8080

logging:
  level:
    edc: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

# OpenAPI Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    config-url: /v3/api-docs/swagger-config
    url: /v3/api-docs


