spring:
  application:
    name: edc-be-sb

  # -------------------------------------------------
  # SECURITY CONFIG CUSTOM
  # -------------------------------------------------
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://kk.organization.io/realms/edc

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    defer-datasource-initialization: true

  # H2 Console configuration for development
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
    time-zone: UTC

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    edc: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO



# OpenAPI Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    config-url: /v3/api-docs/swagger-config
    url: /v3/api-docs

